@charset "UTF-8";

//text-color
$text-color-fff: #fff;
$text-color-333: #333;
$text-color-666: #666;
$text-color-999: #999;

//background-color
$bg-color-fff: #fff;
$bg-color-333: #333;
$bg-color-666: #666;
$bg-color-999: #999;

