@import "Mixins";
.home-container-head {
  width: 100%;
  font-size: .6rem;
  color: #d5d5d5;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  ul {
    width: 100%;
    font-size: .28rem;
    color: #d5d5d5;
    letter-spacing: 0;
    text-align: center;
    height: .94rem;
    background: #fff;
    li {
      position: relative;
      float: left;
      width: 33.33%;
      height: .94rem;
      line-height: .94rem;
      &:before {
        content: '';
        position: absolute;
        top: .3rem;
        right: 0;
        width: 1px;
        height: .34rem;
        background-color: #d5d5d6;
      }
    }
    .last {
      &:before {
        width: 0;
      }
    }
    li:after {
      content: '';
      display: inline-block;
      width: .4rem;
      height: .18rem;
      background: url("../images/down-flog.png") no-repeat center;
      background-size: .28rem .16rem;
    }
    .active {
      color: #53cbbd;
    }
    .active:after {
      background-image: url("../images/down-active.png");
    }
  }
  .fomtip {
    width: 100%; bottom: 0;
    min-height: 100vh;
    overflow-x: auto;
    background: rgba(0, 0, 0, 0.6) !important;
    filter: Alpha(opacity=60);
    position: absolute;
    top: .94rem;
    z-index: 999;
    .off {
      color: #53cbbd;
    }
  }
  .city {
    background: #fff;
    width: 100%;
    padding-left: 1.08rem;
    text-align: left;
    font-size: .28rem;
    height: .94rem;
    line-height: .94rem;
    &.off {
      color: #53cbbd;
    }
  }
  .weui-cell__bd {
    width: 1rem;
  }
  .weui-icon-success {
    color: #d5d5d5;
    &.off {
      color: #53cbbd;
    }
  }
  .weui-cell {
    padding: 0 .30rem 0 1rem;
    p {
      font-size: .28rem;
      text-align: left;
      height: .94rem;
      line-height: .95rem;
    }
  }
  .weui-cells {
    margin-top: 0;
  }
  .off:before {
    color: #53cbbd;
  }
  .weui-cells_checkbox .weui-check:checked + .weui-icon-checked:before {
    color: #53cbbd;
    content: '\EA06';
  }
  .weui-cells_checkbox .weui-icon-checked:before {
    content: '\EA06';
  }
  .context {
    margin: .2rem auto 0;
    width: 95%;
    height: 2.38rem;
    background: #fff;
  }
}